* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: "Crimson Pro", serif;
  color: #e9e3df;
  background-color: #25507b;
  text-shadow: 2px 3px 4px black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(../images/body-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 24%;
  width: 400px;
  margin: 1.25em;
  border-radius: 10px;
}

/* Sections */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-family: "UnifrakturCook", cursive;
  color: #85193c;
  margin-bottom: 0.625em;
}

h2 {
  font-size: 0.85rem;
}

/* Main */

main ul {
  display: flex;
  flex-direction: column;
  gap: 1.56em;
  text-align: center;
}

main a {
  color: inherit;
  font-family: "Cinzel", serif;
  font-size: 0.875rem;
  font-weight: 600;
}

main p {
  padding-top: 1.25em;
  font-style: italic;
}

/* Footer */

footer ul {
  display: flex;
  gap: 20px;
}

footer p {
  padding-bottom: 1.25em;
  text-align: center;
  text-shadow: 0 0 10px #e6e6e6, 0 0 20px #b22222;
}

/* Social media logos */

.social-logo {
  filter: invert(97%) sepia(9%) saturate(5163%) hue-rotate(167deg)
    brightness(88%) contrast(100%);
}

/* buttons */

main li {
  background-color: #8a2d3b;
  padding: 0.625em 3.438em;
  border-radius: 20px;
  transition: all 200ms ease;
}

main li:hover {
  background-color: #500f0f;
  text-shadow: 0 0 10px #e6e6e6, 0 0 20px #b22222;
}

/* Media */

@media (max-width: 620px) {
  body {
    background-image: url(../images/body-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 24%;
  }

  .container {
    background-image: none;
  }
}
